<div class="custom-bg text-dark">
  <div class="not-found d-flex align-items-center justify-content-center px-3">
      <div class="text-center">
          <h1 class="code fw-bold">404</h1>
          <p class="title fw-medium mt-3">Oops! Page not found</p>
          <p class="mt-3 mb-4">The page you're looking for doesn't exist or has been moved.</p>
          <a routerLink="/" class="btn btn-warning fw-semibold rounded-pill go-home">
              Go Home
          </a>
      </div>
  </div>
</div>
