<div class="movie-card">
  <a class="poster-link" [routerLink]="['/movie', movie.id]">
    <img
      [src]="
        movie.poster_path
          ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path
          : 'notfound.png'
      "
      class="poster"
      width="500"
      height="750"
      loading="lazy"
      decoding="async"
      [alt]="movie.title"
    />
    @if (movie.vote_average) {
    <div
      class="rating-badge"
      [innerHTML]="movie.vote_average | ratingCircle"
    ></div>
    }
  </a>

  <div class="meta">
    <div class="info">
      <a
        [routerLink]="['/movie', movie.id]"
        class="title line-clamp-2"
        title="{{ movie.title }}"
      >
        {{ movie.title }}
      </a>
      <p class="date">
        {{ movie.release_date | date : "MMM d, yyyy" }}
      </p>
    </div>

    <button
      type="button"
      class="icon-btn"
      (click)="toggleWishlist()"
      [attr.aria-pressed]="isWishlisted"
      [attr.aria-label]="
        (isWishlisted ? 'Remove ' : 'Add ') +
        movie.title +
        (isWishlisted ? ' from watchlist' : ' to watchlist')
      "
    >
      @if (isWishlisted) {
      <i class="bi bi-heart-fill text-warning" aria-hidden="true"></i>
      } @else {
      <i class="bi bi-heart text-black" aria-hidden="true"></i>
      }
    </button>
  </div>
</div>
