<div class="container-fluid mt-3">
  <div class="bg-body-secondary m-2 p-5">
    <h2 class="fw-bold">Welcome to our movie app</h2>
    <p>Millions of movies, TV shows and people to discover. Explore now.</p>
    <div class="d-flex">
      <input
        class="form-control m-2"
        placeholder="Search and explore...."
        type="text"
      />
      <button class="btn btn-warning m-2">Search</button>
    </div>
  </div>
</div>
<br />
<h3 class="fw-bold m-3">Now Playing</h3>
<br />
<div class="container-fluid px-4">
  <!-- TODO To be changed later, this is just a placeholder -->
  <div class="row d-flex g-3 flex-row">
    @for (movie of nowPlaying; track movie.id) {
    <app-movie-card
      class="col-6 col-sm-4 col-md-3 col-lg-2"
      [movie]="movie"
    ></app-movie-card>
    }
    <!-- <div class="col-2">
      <img
        class="object-fit-contain w-100 rounded-2"
        src="Ready Player One.jpg"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="object-fit-contain w-100 rounded-2"
        src="Ready Player One.jpg"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="object-fit-contain w-100 rounded-2"
        src="Ready Player One.jpg"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="object-fit-contain w-100 rounded-2"
        src="Ready Player One.jpg"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="object-fit-contain w-100 rounded-2"
        src="Ready Player One.jpg"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="object-fit-contain w-100 rounded-2"
        src="Ready Player One.jpg"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="object-fit-contain w-100 rounded-2"
        src="Ready Player One.jpg"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="object-fit-contain w-100 rounded-2"
        src="Ready Player One.jpg"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="object-fit-contain w-100 rounded-2"
        src="Ready Player One.jpg"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="object-fit-contain w-100 rounded-2"
        src="Ready Player One.jpg"
        alt=""
      />
    </div>
    <div class="col-2">
      <img
        class="object-fit-contain w-100 rounded-2"
        src="Ready Player One.jpg"
        alt=""
      />
    </div> -->
  </div>
</div>
