<!-- * Search -->
<div class="container-fluid mt-3">
  <div class="bg-body-secondary m-2 p-5">
    <h2 class="fw-bold">Welcome to our movie app</h2>
    <p>Millions of movies, TV shows and people to discover. Explore now.</p>
    <div class="d-flex">
      <input
        class="form-control m-2"
        placeholder="Search and explore...."
        type="text"
        [(ngModel)]="query"
        (keyup.enter)="searchMovies(query)"
      />
      <button class="btn btn-warning m-2" (click)="searchMovies(query)">
        Search
      </button>
    </div>
  </div>
</div>
<br />
@if (search) {
<h3 class="fw-bold m-3">Search Results: {{ current }}</h3>
} @else {
<h3 class="fw-bold m-3">Now Playing</h3>

}
<br />

<!-- * Shows movie cards -->
<div class="container-fluid px-4">
  <div class="row d-flex g-3 flex-row justify-content-center ">
    @for (movie of nowPlaying; track movie.id) {
    <app-movie-card
      class="col-6 col-sm-4 col-md-3 col-lg-2"
      [movie]="movie"
    ></app-movie-card>
    }
  </div>
</div>

<!-- * Pagination -->
<div>
  <ul class="pagination justify-content-center">
    <li class="page-item" (click)="prevPage()">
      <button class="page-link">
        <span>&laquo;</span>
      </button>
    </li>

    <li class="page-item">
      <button disabled class="page-link">{{ page }}</button>
    </li>

    <li class="page-item">
      <button class="page-link" (click)="nextPage()">
        <span>&raquo;</span>
      </button>
    </li>
  </ul>
</div>
