<nav class="navbar navbar-expand-lg p-0">
  <div class="container-fluid bg-warning">
    <a class="navbar-brand fw-bold ms-3" href="#">Movie App</a>
    <div class="navbar-nav ms-auto d-flex flex-row align-items-center">
      <div class="dropdown">
        <a
          class="nav-link fw-bold me-4 text-black dropdown-toggle d-flex align-items-center"
          href="#"
          id="languageDropdown"
          data-bs-toggle="dropdown"
        >
          EN
        </a>
        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
          <li><a class="dropdown-item" (click)="changeLang('en')">EN</a></li>
          <li><a class="dropdown-item" (click)="changeLang('ar')">AR</a></li>
          <li><a class="dropdown-item" (click)="changeLang('fr')">FR</a></li>
          <li><a class="dropdown-item" (click)="changeLang('zh')">ZH</a></li>
        </ul>
      </div>
      <a
        class="nav-link d-flex align-items-center my-0 fw-bold text-black"
        routerLink="wishlist"
      >
        <i class="bi bi-heart-fill text-black me-1 fs-3 my-0"></i>
        Watchlist
        <span class="ms-1 bg-dark text-white rounded-1 px-1">
          {{ wishlistService.getWishlistCount() | async }}
        </span>
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
