<nav class="navbar navbar-expand-lg bg-warning p-0">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold ms-3" href="#">Movie App</a>
    <div class="navbar-nav ms-auto d-flex flex-row align-items-center">
      <a
        class="nav-link fw-bold me-4 text-black d-flex align-items-center"
        href="#"
      >
        EN <i class="bi bi-caret-down-fill ms-1"></i>
      </a>
      <a
        class="nav-link d-flex align-items-center my-0 fw-bold text-black"
        href="#"
      >
        <i class="bi bi-heart-fill text-black me-1 fs-3 my-0"></i> Watchlist
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
